body {
  background: rgb(28, 120, 204);
  background: linear-gradient(
    0deg,
    rgba(28, 120, 204, 1) 10%,
    rgba(40, 191, 227, 1) 64%,
    rgba(85, 224, 211, 1) 92%
  );
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background: white;
  border-radius: 7px;
  width: 300px;
  height: auto;
  font: 100% sans-serif;
  display: flex;
  padding: 9px;
}

.boxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.boxTitle {
  font: bold 25px sans-serif;
  padding-top: 7px;
  padding-bottom: 1px;
}
.boxBody {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
}

.boxInput {
  padding: 8px 15px;
  border: 2px solid hsl(0, 3%, 77%);
}

.boxButtonInput {
  padding: 3px 15px;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  background-color: #c177fd;
}

.boxBodyButtonsOrganaizers {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.boxFooter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxFooter span {
  font: 80% sans-serif;
}

.boxFooterButton {
  padding: 1px 8px;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  background-color: #c177fd;
}

.boxBodyList {
  padding-top: 3px;
  padding-bottom: 3px;
}

.boxTableTasks {
  background-color: #dfdcdc;
  width: 100%;
  padding: 5px 0px;
}

.boxTableTasks input {
  background-color: #dfdcdc;
  width: 100%;
  padding: 0px;
}

.boxTableTasks span {
  background-color: #dfdcdc;
  font: 83% sans-serif;
  padding-left: 9px;
}

.boxList {
  list-style: none;
  width: 100%;
  padding: 0px;
}

.boxList li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 83% sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
}

.listTextLane {
  width: 100%;
  background-color: #dfdcdc;
  padding: 8px 15px;
}

.listButtonDelete {
  width: 5%;
  padding: 8px 15px;
  background-color: #f32727;
}
